@charset "UTF-8";
.li-update > a {
	border-bottom : 3px solid gray;
}

.li-passwordUpdate > a {
	font-weight : bold;
	border-bottom : 3px solid black;
}

.li-delete > a {
	border-bottom : 3px solid gray;
}

.passwordUpdate-title {
	display : block;
	width : 80%;
	height : auto;
	text-align: center;
	margin : 0 auto;
}

.passwordUpdate-title > img {
	width : 30%;
	height : inherit;
	vertical-align : middle;
	max-width: 110px;
	max-height: 110px;
	border-radius: 0.5rem;
}

.passwordUpdate-title > span {
	vertical-align : middle;
	font-weight : bold;
	margin-left : 30px;
}

#title-p {
	margin-top : 30px;
	margin-bottom : 30px;
	padding : 0 20px;
	font-size : 1.3em;
	font-weight : bold;
	text-align: center;
}

#title-p > span {
	color : #97000F;
}

@media screen and (min-width : 769px) {
	.passwordUpdate-title > span {
		font-size : 3em;
	}
}

@media screen and (max-width : 768px) {
	.passwordUpdate-title > span {
		font-size : 2em;
	}
}